.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  background-color: white;
  border-radius: 8px;
  font-family: "Baxter Sans Regular";

  .title {
    font-size: 24px;
    margin-top: 20px;
    font-family: "Baxter Sans Medium";
  }

  .header {
    font-size: 22px;
    margin-top: 0.5em;
    font-family: "Baxter Sans Semibold";
  }

  .image {
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .footer {
    margin-top: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: left;

    .form {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
    }

    .form-group {
      margin-bottom: 10px;
    }

    // .form-group-register {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-start;
    //   width: fit-content;
    //   label {
    //     font-size: 20px;
    //   }
    //   input {
    //     margin-top: 2px;
    //     min-width: 18em;
    //     height: 30px;
    //     padding: 0px 10px;
    //     font-size: 16px;
    //     background-color: #f3f3f3;
    //     border: 0;
    //     border-radius: 4px;
    //     margin-bottom: 10px;
    //     transition: all 250ms ease-in-out;
    //     &:focus {
    //       outline: none;
    //       box-shadow: 0px 0px 4px 0.5px;
    //     }
    //   }
    // }
  }
}
