.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Baxter Sans Regular";

  .title {
    font-size: 24px;
    margin-top: 20px;
    font-family: "Baxter Sans Bold";
  }

  .header {
    font-size: 22px;
    margin-top: 0.5em;
    font-family: "Baxter Sans Bold";
  }

  .image {
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .footer {
    margin-top: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: left;

    .form {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
    }

    .form-group {
      margin-bottom: 10px;
    }
    .form-group-code {
      margin-top: 10px;
    }
  }
}

.wrapper {
  padding-top: 8%;
  padding-bottom: 2%;
  @media (max-width: 600px) {
    padding-top: 15%;
  }
}

.base-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0.05px;
  font-family: "Baxter Sans Regular";
  @media (max-width: 500px) {
    width: 96%;
  }
}

.forgot-password-link {
  &:hover {
    cursor: pointer;
  }
}
