.box {
  align-items: center;
  justify-content: center;
  padding: 3% 10%;
  width: 75%;
  @media (min-width: 1400px) {
    width: 55%;
  }
}

.box-list {
  align-items: center;
  justify-content: center;
  padding: 3% 10%;
  width: 65%;
}

.page-title {
  color: white;
  font-size: 4em;
  font-family: "Baxter Sans Semibold";
  margin-bottom: 15px;
  @media (max-width: 800px) {
    font-size: 2em;
  }
}

.white-container {
  background-color: white;
  font-family: "Baxter Sans Regular";
  padding: 2em;
}

.card {
  min-width: 250px;
  max-width: 250px;
  min-height: 230px;
  max-height: 230px;
  margin: auto;
  padding: 5px 25px 25px 25px;
  border: #d1e2f2 6px;
  border-style: solid;
  //background-color: #d1e2f2;
  color: #464646;
  &:hover {
    border-color: #a9cfe7;
    //box-shadow: black 2px;
  }
}

.h3 {
  margin-bottom: 5px;
}

.animation {
  height: 100px;
  width: 150px;
}

.animation-smaller {
  height: 100px;
  width: 80px;
}
