.box {
  padding: 0% 0% 2% 10%;
  width: 60%;
  @media (max-width: 1400px) {
    width: 90%;
    padding: 0% 5%;
  }
  @media (max-width: 1000px) {
    width: 96%;
    padding: 2%;
  }
}

.box-list {
  width: 70%;
  padding-left: 10%;
  @media (max-width: 1300px) {
    width: 90%;
    padding: 2%;
  }
  @media (max-width: 1000px) {
    width: 96%;
    padding: 2%;
  }
}

.page-title {
  color: white;
  font-size: 4em;
  font-family: "Baxter Sans Bold";
  margin-bottom: 15px;
  margin-right: 10px;
  @media (max-width: 700px) {
    font-size: 2em;
  }
}

.white-container {
  background-color: white;
  font-family: "Baxter Sans Regular";
  padding: 2em;
  @media (max-width: 700px) {
    padding: 1em;
  }
}

.white-container-account {
  background-color: white;
  font-family: "Baxter Sans Regular";
  padding: 2em 4em;
  @media (max-width: 700px) {
    padding: 1em;
  }
}

.card {
  height: 100px;
  padding: 5px 15px 10px 10px;
  border: #d1e2f2 8px;
  border-style: solid;
  color: #464646;
  &:hover {
    border-color: #a9cfe7;
    box-shadow: 5px 5px 5px #d1e2f2;
    cursor: pointer;
  }
}

.h3 {
  margin-bottom: 5px;
}

.animation-smaller {
  padding-top: 10px;
  height: 90px;
  width: 90px;
  @media (max-width: 700px) {
    height: 60px;
    width: 60px;
    padding-top: 20px;
  }
}

.animation-bigger {
  height: 120px;
  width: 120px;
  @media (max-width: 700px) {
    padding-top: 10px;
    height: 80px;
    width: 80px;
  }
}

.spec-animation {
  height: 110px;
  width: 110px;
  @media (max-width: 700px) {
    padding-top: 10px;
    height: 80px;
    width: 80px;
  }
}

.link-to-menu-item {
  font-family: "Baxter Sans Bold";
  font-size: 20px;
  align-items: center;
  color: #464646;
  width: auto;
  &:hover {
    text-decoration: underline;
    color: #4365e2;
    cursor: pointer;
  }
}

#modal-modal-description {
  margin-bottom: 10px;
}

.modal-style {
  position: absolute;
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 2em;
  @media (max-width: 500px) {
    width: 60%;
  }
  @media (max-width: 400px) {
    width: 70%;
  }
}

.list-of-request-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #464646;
}

.para {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.status {
  margin-top: 2px;
}

.priority {
  padding-bottom: 3px;
}

.list-of-request-button {
  width: 100%;
}

.id {
  margin-right: 10px;
}

.back-button {
  padding-top: 16px;
}

.arrow {
  color: black;
}

.bin {
  color: #464646;
}

.table-head {
  background-color: #d1e2f2;
}

.add-new-technician {
  margin-bottom: 10px;
}

.tech-item {
  font-size: 18px;
  width: 75%;
}

.tech-details-item {
  padding: 5px 0;
  font-size: 18px;
  width: 75%;
}

.request-details {
  width: 75%;
  @media (max-width: 700px) {
    width: 100%;
  }
}
