.box {
  align-items: center;
  justify-content: center;
  padding: 3% 10%;
  width: 75%;
  @media (min-width: 1400px) {
    width: 55%;
  }
}

.box-list {
  align-items: center;
  justify-content: center;
  padding: 3% 10%;
  width: 65%;
}

.page-title {
  color: white;
  font-size: 4em;
  font-family: "Baxter Sans Semibold";
  margin-bottom: 15px;
  @media (max-width: 800px) {
    font-size: 2em;
  }
}

.white-container {
  background-color: white;
  font-family: "Baxter Sans Regular";
  padding: 2em;
}

.card {
  padding: 5px 25px 25px 25px;
  border: #d1e2f2 8px;
  border-style: solid;
  color: #464646;
  &:hover {
    border-color: #a9cfe7;
    box-shadow: 5px 5px 5px #d1e2f2;
  }
  margin-bottom: 20px;
}

.h3 {
  margin-bottom: 5px;
}

.animation {
  padding-top: 20px;
  height: 120px;
  width: 120px;
  @media (max-width: 800px) {
    height: 80px;
    width: 80px;
  }
}

.animation-smaller {
  padding-top: 20px;
  height: 100px;
  width: 100px;
  @media (max-width: 800px) {
    height: 60px;
    width: 60px;
  }
}
