.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  margin-bottom: 2em;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 50%;
    height: 100%;
  }
}

.menu-drawer {
  width: 330px;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px 0px 0px;
}

.MuiSvgIcon-root {
  &:hover {
    cursor: pointer;
  }
}

.hamburger {
  padding: 20px 0px 0px 20px;
  color: white;
  @media (max-width: 700px) {
    padding: 10px 0px 0px 10px;
  }
}

.menu-item {
  font-family: "Baxter Sans Regular";
  font-size: 22px;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
