.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  margin-bottom: 2em;
  img {
    width: 60%;
    height: 100%;
  }
}

.menu-drawer {
  width: 300px;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px 0px 0px;
}

.MuiSvgIcon-root {
  &:hover {
    cursor: pointer;
  }
}

.hamburger {
  padding: 20px 0px 0px 20px;
  color: white;
}

.menu-item {
  padding-left: 30px;
}
