.pending-request-list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0px 20px 0px 20px;
  border: #d1e2f2 3px;
  border-style: solid;
  //background-color: #d1e2f2;
  color: #464646;
  &:hover {
    border-color: #a9cfe7;
    box-shadow: black 2px;
  }
}

#modal-modal-description {
  margin-bottom: 10px;
}

.modal-style {
  position: absolute;
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 2em;
}

.modal-style-bigger {
  position: absolute;
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 2em;
}
