.list-container {
  background-color: white;
  font-family: "Baxter Sans Regular";
  padding: 2em 2em;
}

.list-of-request-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #464646;
}

.list-of-request-button {
  width: 100%;
}

.id {
  margin-right: 10px;
}

.request-details {
  width: 75%;
}

.back-button {
  padding-top: 16px;
}

.arrow {
  color: black;
}
