.list-of-request-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #464646;
}

.para {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.status {
  margin-top: 2px;
}

.list-of-request-button {
  width: 100%;
}

.id {
  margin-right: 10px;
}

.request-details {
  width: 75%;
}

.back-button {
  padding-top: 16px;
}

.arrow {
  color: black;
}

.bin {
  color: #464646;
}

.table-head {
  background-color: #d1e2f2;
}

.add-new-technician {
  margin-bottom: 10px;
}

.tech-item {
  font-size: 18px;
  width: 75%;
}

.tech-details-item {
  padding: 5px 0;
  font-size: 18px;
  width: 75%;
}
