.request-form-tab {
  font-family: "Baxter Sans Regular";
}

.item {
  margin-bottom: 10px;
  width: 50%;
  @media (max-width: 700px) {
    width: 100%;
  }
}

.other-item {
  margin-bottom: 10px;
}

.last-item {
  margin-bottom: 30px;
  width: 50%;
}

.heading {
  margin: 0px;
  margin-top: 10px;
}

.radio-group {
  margin-bottom: 15px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.modal-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
}

.modal {
  font-family: "Baxter Sans Regular";
}

.form-group {
  margin-top: 10px;
}

.request-form-button {
  margin-right: 10px;
}

.extra-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-radius: 2px;
  border-color: #464646;
  font-family: "Baxter Sans Regular";
  font-size: 18px;
  color: #464646;
  padding: 5px 10px;
  width: 95%;
  max-width: 95%;
  height: 200px;
  min-height: 100px;
}

.onedrive-link {
  border-width: 2px;
  border-radius: 2px;
  border-color: #464646;
  font-family: "Baxter Sans Regular";
  font-size: 18px;
  color: #464646;
  padding: 5px 10px;
  width: 50%;
  max-width: 50%;
  height: 100px;
  @media (max-width: 700px) {
    width: 95%;
    max-width: 95%;
  }
}

.comment {
  border-width: 2px;
  border-radius: 2px;
  border-color: #464646;
  font-family: "Baxter Sans Regular";
  font-size: 18px;
  color: #464646;
  padding: 5px 10px;
  width: 80%;
  height: 100px;
  max-width: 80%;
  @media (max-width: 700px) {
    width: 95%;
    max-width: 95%;
  }
}

.table-header {
  background-color: #d1e2f2;
}

.list-item {
  margin-bottom: 10px;
  font-family: "Baxter Sans Regular";
}
